@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
  font-family: 'Cabin';
  background-color: #758190;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

/* .stats-container {
    display: flex;
} */
.stats-container {
  display: flex;
  align-items: center;
}

.stats-container:hover {
  /* cursor: pointer; */
  box-shadow: 0 0 30px lightblue;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

#button-container {
  text-align: center;
}

button {
  font-family: 'Cabin';
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}

.selected {
  box-shadow: 0 0 20px lightblue;
  background-color: lightblue;
}

#our-games-btn {
  margin-left: 55px;
}

#our-games-btn:hover,
#unfunded-btn:hover,
#funded-btn:hover,
#all-btn:hover {
  cursor: pointer;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  max-width: 80%;
  overflow: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

/* Additional styles for buttons */
.selected {
  background-color: lightblue;
}

/* Add more styles as needed */
